@inject IJSRuntime JSRuntime


@page "/StepOne"

<h3>Step1</h3>

<p>Congratulations, Dusty! If Jonny Chue is reading this, it means your SPA is working!</p>

<p>If he's not reading it, who cares! No one will know you talk to yourself. Wait... I think everyone already knows that. Oh well!</p>

<p>_his is not a drive by!<br />Just a shy guy looking for a two ply<br />Hefty bag won't hold myyyy love</p>

<p>With dr_ps of Jupiter in her ear</p>

<p>The _ay you move ain't fair you know<br />Hey Soul Sister</p>

<p>Followi_g the map that leads to you</p>

<p>Two words: _____ ____</p>



@code {
    // private string? Latitude { get; set; }
    // private string? Longitude { get; set; }
    // private string? ErrorMessage { get; set; }

    // private async Task GetLocationAsync()
    // {
    //     try
    //     {
    //         var position = await JSRuntime.InvokeAsync<GeolocationPosition>("navigator.geolocation.getCurrentPosition");
    //         Latitude = position.Coords.Latitude.ToString();
    //         Longitude = position.Coords.Longitude.ToString();
    //     }
    //     catch (Exception ex)
    //     {
    //         ErrorMessage = $"Error retrieving location: {ex.Message}";
    //     }
    // }

    // public class GeolocationPosition
    // {
    //     public GeolocationCoordinates Coords { get; set; } = new();
    // }

    // public class GeolocationCoordinates
    // {
    //     public double Latitude { get; set; }
    //     public double Longitude { get; set; }
    // }
}

